<%= render 'shared/navbar' %>
<div class="container content mt-6">

  <h1 class="">Public Recipes</h1>
  
  <div id="recipes">
  <% if @recipes.empty? %>
  <p class="">Sorry, there are no public recipes at the moment. Check back later.</p>
  <% end %>
  <div class=" is-flex is-flex-direction-column is-align-items-center px-8">
    <% @recipes.each do |recipe| %>
      <div class="border-green-800">
      <div class="font-semibold text-l"><%= link_to (recipe.name), recipe_path(recipe)%></div>
      <% if can? :manage, recipe %>
      <div class="py-4 text-red-600 text-l"><%= button_to "REMOVE", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" } %></div>
      <% end %>
      </div>
      <div>
        <p class=""><%= recipe.description %></p>
      </div>
      <div class="border"></div>
      <br />
      <br />
    <% end %>
    </div>
  </div>
</div>
